<div class="footer">
    <div class="left_footer_part">
        <ul>
            <li><a href="">關於 Stylish</a></li>
            <li><a href="">|</a></li>
            <li><a href="">服務條款</a></li>
            <li><a href="">|</a></li>
            <li><a href="">隱私政策</a></li>
            <li><a href="">|</a></li>
            <li><a href="">聯絡我們</a></li>
            <li><a href="">|</a></li>
            <li><a href="">FAQ</a></li>
        </ul>
    </div>
    <div class="right_footer_part">
        <input class="line" type="image" src="./htmlImgs/line.png">
        <input class="twitter" type="image" src="./htmlImgs/twitter.png">
        <input class="facebook" type="image" src="./htmlImgs/facebook.png">
        <p>&copy 2018. All rights reserved.</p>
    </div>
</div>