<div class="header">
    <div class="left-content">
        <a href="/">
            <img src="./htmlImgs/btn-logo-01.svg" alt="">
        </a>
        <ul class="left_nav">
            <li><a href="">女裝</a></li>
            <li><a href="">|</a></li>
            <li><a href="">男裝</a></li>
            <li><a href="">|</a></li>
            <li><a href="">配件</a></li>
        </ul>
    </div>
    <div class="right-content">
        <div class="search">
            <input type="text" class="searchTerm">
            <img class="searchBtn" src="./htmlImgs/search.png" alt="">
        </div>
        <input class="shopping_cart" type="image" src="./htmlImgs/btn-shopping-cart-01-add.svg">
        <input class="user_profile" type="image" src="./htmlImgs/btn-member-01-normal.svg">
    </div>
</div>